@import "tailwindcss";

:root {
 --background: #18254E;
  --foreground: #ffffff;
  --custom-dark-blue: #0b1a39;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-blue: var(--custom-dark-blue);
  --font-heading: "Montserrat", sans-serif;
  --font-sans: "Nunito Sans", sans-serif;
}



/* Base styles using CSS variables */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
